.sidebar {
  background-color: var(--color-secondary);
  color: var(--color-tertiary);
  height: 100vh;
  padding: 1.5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed !important;
  top: 0;
  left: 0;
}

.logo {
  width: 30%;
  height: auto;
}

.sidebar-content {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 100%;
}

.sidebar-link {
  color: var(--color-tertiary);
  text-decoration: none;
  padding: 0.7rem 10%;
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
}

.sidebar-link:hover {
  color: var(--color-primary);
  text-decoration: none;
}
